@model WeatherMoscow.Models.ViewModels.WeatherViewModel
@using WeatherMoscow.Helpers

@{
    ViewBag.Title = "Данные о погоде";
}

<h3>Данные о погоде</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Weathers.FirstOrDefault().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weathers.FirstOrDefault().Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weathers.FirstOrDefault().AirTemp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weathers.FirstOrDefault().Moisture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weathers.FirstOrDefault().DewPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weathers.FirstOrDefault().Pressure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weathers.FirstOrDefault().WindDir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weathers.FirstOrDefault().WindSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weathers.FirstOrDefault().Cloudness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weathers.FirstOrDefault().CloudBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weathers.FirstOrDefault().HorizontalVisibility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weathers.FirstOrDefault().WeatherConditions)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Weathers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moisture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DewPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindDir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cloudness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloudBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorizontalVisibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherConditions)
            </td>
        </tr>
    }
</table>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("WeatherList", new { page = x }));
</div>
